<head>
    <% title 'Love Sylvie | Manage Posts' %>
    <% description "Manage posts" %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render "/shared/admin-sidebar" %>
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="bold marg-bot-1 marg-top-1">
        Manage Posts
      </h2>
      hi
    </div>
  </div>
</div>
