<head>
    <% title 'Love Sylvie | Admin Panel' %>
    <% description "Manage all admin operations" %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render "/shared/admin-sidebar" %>
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="bold marg-bot-1 marg-top-1">
        Admin panel
      </h2>
      <p>
        From here, you can manage all things relating to users, posts, and perfumes on this platform.
      </p>
    </div>
  </div>
</div>
