<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <strong>Email:</strong> <%= @user.email %><br>
      <strong>Referrals:</strong> <%= @user.referrals %>
    </div>
  </div>
</div>
