<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <div class="space-2"></div>
      <h2 class="marg-bot-1">
        Hi <%= @user.email %>
      </h2>
      <% if current_user.isAdmin %>
        <p class="light-gray-text"><strong>ADMIN</strong></p>
      <% end %>
      <p class="big">
        <% if @user.referrals == 0 %>
          It looks like you haven't referred anyone yet. Want some awesome perks? Get a friend to sign up with your unique link:
        <% else %>
          Ride on, <%= @user.referrals %> of your friends have signed up by your referral. Might as well refer some more to get some awesome perks:
        <% end %>
        <input class="unique-link" value="<%= request.original_url + 'register/' + current_user.id.to_s %>" readonly="readonly" />
      </p>
    </div>
  </div>
</div>
