<div class="admin-sidebar col-12 col-md-4 col-lg-3">
  <div class="space-1"></div>
  <h4 class="bold">
    Admin panel
  </h4>
  <%= link_to "Manage perfumes", perfumes_path %>
  <%= link_to "New perfume", new_perfume_path %>
  <%= link_to "Manage posts", manage_posts_path %>
  <%= link_to "New post", new_post_path %>
</div>
