<div class="container-fluid marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12">
      <div class="space-1 hidden-md-down"></div>
      <h2 class="marg-bot-2 accent-text bold center-mobile">
        Meet your perfumes
      </h2>
      <div id="perfumes" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <div class="col-12 col-md-6 gray">
              Stuff 1
            </div>
            <div class="col-12 col-md-6">
              <h4>Vivienne</h4>
              <p class="caps">
                Explorer, sexy, independent, free-spirited
              </p>
              <p>
                Explorer of people. Independent, sexy, and free-spirited. Vivienne is a natural leader with a friendly demeanor, making her a sure fit with friends from all over the world.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 2
            </div>
            <div class="col-12 col-md-6">
              <h4>Alexa</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 3
            </div>
            <div class="col-12 col-md-6">
              <h4>Camila</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 4
            </div>
            <div class="col-12 col-md-6">
              <h4>Macie</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 5
            </div>
            <div class="col-12 col-md-6">
              <h4>Juniper</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 6
            </div>
            <div class="col-12 col-md-6">
              <h4>Kiera</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 7
            </div>
            <div class="col-12 col-md-6">
              <h4>Anya</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>

          <div class="carousel-item">
            <div class="col-12 col-md-6 gray">
              Stuff 8
            </div>
            <div class="col-12 col-md-6">
              <h4>Jordan</h4>
              <p class="caps">
                ...
              </p>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
              </p>
              <a href="#" class="marg-top-1 btn btn-outline-accent">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <ul class="perfume-list">
    <li class="perfume-item" id="vivienne" value="0">
      Vivienne
    </li>
    <li class="perfume-item active" id="alexa" value="1">
      Alexa
    </li>
    <li class="perfume-item" id="camila" value="2">
      Camila
    </li>
    <li class="perfume-item" id="macie" value="3">
      Macie
    </li>
    <li class="perfume-item" id="juniper" value="4">
      Juniper
    </li>
    <li class="perfume-item" id="keira" value="5">
      Keira
    </li>
    <li class="perfume-item" id="anya" value="6">
      Anya
    </li>
    <li class="perfume-item" id="jordan" value="7">
      Jordan
    </li>
  </ul>
</div>
