<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1>Rails Boilerplate</h1>
      <div class="line-0"></div>
      <p class="marg-top-1">
        Built by <a href="http://cameroncabo.com" class="no-decoration">Cameron Cabo.</a> Learn more about this boilerplate and what is has to offer in the <a href="https://github.com/ccabo1/rails-boilerplate" class="no-decoration">GitHub repository.</a> Enjoy!
      </p>
    </div>
  </div>
</div>
