<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <h3 class="accent-text bold">
        Our Perfumes
      </h3>
      <div class="text-block">
        <h6 class="purple-text bold title-collapse expanded">
          Unique Scents
          <span class="collapser">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
          </span>
        </h6>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h6 class="purple-text bold title-collapse">
          Concentrated Perfume
          <span class="collapser">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
          </span>
        </h6>
        <p class="display-none">
          Our fine fragrances are characterized as eau de parfum, meaning that they contain 10 &ndash; 20% aromatic compounds, as opposed to eau de toilette or body mist, which have a lower concentration of aromatic compounds. This, together with a creful layering of scents, makes our fine fragrances high quality and long lasting.
        </p>
        <h6 class="purple-text bold title-collapse">
          No Animal Testing
          <span class="collapser">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
          </span>
        </h6>
        <p class="display-none">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h6 class="purple-text bold title-collapse">
          Sustainability
          <span class="collapser">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
          </span>
        </h6>
        <p class="display-none">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
        <h6 class="purple-text bold title-collapse">
          Manufactured in the United States
          <span class="collapser">
            <div class="bar bar-1"></div>
            <div class="bar bar-2"></div>
          </span>
        </h6>
        <p class="display-none">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
      </div>
      <div class="btn btn-purple marg-top-1">
        Build my discovery box
      </div>
    </div>
  </div>
</div>
