<div class="about-background-image" style="background-image: url(<%= asset_path "mug.png" %>)">
  <div class="container marg-bot-2">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-2 col-lg-9 offset-lg-3 col-xl-8 offset-xl-4">
        <div class="space-2"></div>
        <h3 class="accent-text bold marg-bot-0">
          Our Perfumes
        </h3>
        <div class="text-block">
          <h6 class="purple-text bold title-collapse expanded">
            Unique Scents
            <span class="collapser">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
            </span>
          </h6>
          <p>
            Our scents are crafted, layered, and refined to be unique to Love, Sylvie.  Drawing on inspiration from our customers unique sense of style, we curate perfume meant to inspire, delight, and embolden our customers.
          </p>
          <h6 class="purple-text bold title-collapse">
            Concentrated Perfume
            <span class="collapser">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
            </span>
          </h6>
          <p class="display-none">
            Our fine fragrances are characterized as <span class="italic">eau de parfum</span>, meaning that they contain 10 – 20% aromatic compounds, as opposed to eau de toilette or body mist, which have a lower concentration of aromatic compounds.  This, together with a careful layering of scents, makes our fine fragrances high quality and long lasting.
          </p>
          <h6 class="purple-text bold title-collapse">
            No Animal Testing
            <span class="collapser">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
            </span>
          </h6>
          <p class="display-none">
            We do not believe in animal testing for our products.
          </p>
          <h6 class="purple-text bold title-collapse">
            Sustainability
            <span class="collapser">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
            </span>
          </h6>
          <p class="display-none">
            Our fine fragrance scents are a blend of synthetic and natural aromatic compounds which comply with the IFRA Code of Practice. We choose to include synthetic compounds in our products due to the scarcity and depletion of natural resources, such as sandalwood, used to make natural compounds. Love, Sylvie continues to make sustainable, eco-conscious decisions when sourcing the ingredients of our fine fragrances.
          </p>
          <h6 class="purple-text bold title-collapse">
            Manufactured in the United States
            <span class="collapser">
              <div class="bar bar-1"></div>
              <div class="bar bar-2"></div>
            </span>
          </h6>
          <p class="display-none">
            While our scents are sourced across the globe, they are curated, processed, bottled, and packaged in the United States.
          </p>
        </div>
        <!-- <div class="btn btn-purple marg-top-1">
          Build my Discovery Box
        </div> -->
        <div class="space-2"></div>
      </div>
      <!-- close col -->
    </div>
    <!-- close row -->
  </div>
</div>

<%= render 'perfumes/perfumes' %>

<div class="space-2 hidden-md-down"></div>
<div class="space-2"></div>
