<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 text-block">
      <div class="space-1 hidden-md-down"></div>
      <h3 class="accent-text inline bold">Privacy Policy</h3>
      <p class="light-gray-text caps">Last updated June 30, 2017</p>

      <p>
        Please read this Privacy Policy (“Terms”) carefully before using the http://lovesylvie.com website and any associated online locations such as Facebook, Instagram, and Twitter (the "Site") operated by Love Sylvie LLC., (“Love, Sylvie” "us", "we", or "our").
      </p>

      <p>
        Your access to and use of the Site is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By visiting, browsing, or using the Site or any Love, Sylvie service, you acknowledge that you have read, understand and agree, without limitation, to be bound by these Terms, which include Love, Sylvie’s privacy policy. If you disagree with any part of these terms, then you may not access Love, Sylvie’s site or create a profile.
      </p>

      <p>
        We are not responsible for any third-party features, widgets, sites, or links. This Privacy Policy only pertains to our Site.
      </p>

      <p>
        If you have any questions, please visit our site http://lovesylvie.com or send us a message at <a href="mailto:info@lovesylvie.com">info@lovesylvie.com</a>.
      </p>

      <h6 class="purple-text caps bold">
        CHANGES TO THE TERMS
      </h6>

      <p>
        Please note the “last updated” date, posted at the top of the page. We may update or alter these Terms at any time and for any reason by updating this posting. By accessing the Site after a revision, you agree that you accept the revised terms as noted in the latest “last updated” date. By creating a profile or using the Site, you agree to check these terms often in the event that changes have been made. Love, Sylvie assumes no liability or responsibility if you fail to read or check for revisions to our Terms. Your use, browsing, or visitation of the Site and its services will constitute your acceptance of any changes.
      </p>

      <h6 class="purple-text caps bold">
        1. INFORMATION COLLECTED OR RECEIVED
      </h6>

      <p>
        We collect information from you on our Site to provide a meaningful, useful, efficient, and customized experience. Purposes for collecting this information include, but are not limited to:
      </p>

      <ul>
        <li>sending notifications about your payment, shipment, order, or billing,</li>
        <li>verifying your identity at the time of purchase from our Site,</li>
        <li>providing customized online marketing on the Site, through email, SMS, and other forms,</li>
        <li>helping you quickly find and identify the most suitable products for you,</li>
        <li>understanding your user experience to enhance the experience of other users,</li>
        <li>creating, sorting, and finding content that is more relevant to your needs,</li>
        <li>notifying you of special promotions or new products that may interest you.</li>
      </ul>

      <h6 class="purple-text caps bold">
        2. Information Provided by You
      </h6>

      <p>
        (a) Account formation. In order to create an account on Love, Sylvie, you must provide us with an email, password, date of birth, and gender. You may also choose to provide us with additional information such as scent preferences or other beauty or fragrance product preferences.
      </p>

      <p>
        We use your email to provide you with information on your account and registration as well as send you special offers, information regarding promotions, and new product offerings. You can opt to not receive promotional email at any time by clicking ‘unsubscribe’ at the bottom of the email and letting us know your email marketing preferences. You cannot unsubscribe to emails regarding your account, shipment, or billing information.
      </p>

      <p>
        If you provide us with an email address but then do not become a member of Love, Sylvie then we will use your email address to invite you back to the Site for a period of time.
      </p>

      <p>
        (b) Purchasing. When you make a purchase on Love, Sylvie, you must provide your name, shipping address, billing address, and credit card information. We use this information, combined with information you provided for account formation, for billing, shipping, fulfilment, and communication of your orders. All credit card information is encrypted and processed through a third-party processor which abides with strict industry standards. As a precaution, never send your credit card information to any Love, Sylvie employee or representative, either written or orally. We request that you only use our secure Site to transmit credit card information.
      </p>

      <p>
        (c) User Content. At any point, we may invite you to submit content, including but not limited to, your story, comments, experience, product review, photos, and videos (collectively, “User Content”). Note that User Content includes any content shared on a third-party service such as Facebook or Instagram, that is specifically tagged, marked, or somehow associated with our official social media presence. By providing us with this content, you understand that we may choose, in our sole discretion, to make any portion of this content, or any derivative work from it, public. Please note that if you are a minor, living in California, and you have posted information publicly that you are not able to remove, you have the right to request it to be hidden by contacting: info@lovesylvie.com. Other users who have concerns over privacy or would like to request the removal of their User Content from public view can email: <a href="mailto:info@lovesylvie.com">info@lovesylvie.com</a>.
      </p>

      <p>
        Depending on the nature of the information you provide, other users of the site may be able to identify you. We take no responsibility over who reads or views your User Content or what other users may choose to do with the content that you post voluntarily. Therefore, we do not recommend sharing intimate, identifying, or personal details.
      </p>
      <p>
        (d) Referrals. At any time, you may choose to refer friends using our Referral Program on the site. This program could lead to a coupon, promotion, or offer in exchange for referring eligible friends. Note that eligibility may or may depend on your referral’s membership, purchase, or activity. Friends are referred via email address or social media. Note that we may store the information that you submit, enter, of upload on your contacts or referrals in order to send invitations, reminders, and promotional materials to your friends. By providing Love, Sylvie with an email address, you hereby agree that you have express permission to do so and are not violating and applicable laws, privacy policies, or confidentiality agreements.
      </p>

      <p>
        (e) Connection via Third-Party. You may choose to connect or create a Love, Sylvie account by using third-party services. We collect information about you through any connected social media accounts, but only if you allow us to do so. By connecting through Google Plus, Facebook, Twitter, or Instagram, we receive information on you from that third-party. We may gather, store, analyze, and use this information in order to help you connect to the Site easier and more efficiently as well as share information we provide. Note, this feature is entirely optional. You can rescind permission by logging into a third-party account and disconnecting Love, Sylvie. We reserve the right to retain the information we collected prior to your disconnection.
      </p>

      <h6 class="purple-text caps bold">
        3. INFORMATON WE COLLECT OR RECEIVE
      </h6>

      <p>
        (a) Log files. Love, Sylvie collects and stores log files which contain certain information such as your Internet Protocol (“IP”) address, internet service provider, referral and exit pages, your device type, browser, and the time and date. This information does not identify individual visitors and is used in aggregate to track and understand how our visitors find and use our Site to improve our users’ experience. We also have the right to use this information for targeted marketing campaigns, which may directly or indirectly link to your collected information.
      </p>

      <p>
        (b) Cookies and other tracking methods. Love, Sylvie may or may not participate in collecting your information through tracking cookies, transparent gifs, web beacons, tracking pixels, or other types of tracking and monitoring software placed on our Site, through our marketing messages (including email), and through our social media campaigns. This tracking technology may collect information such as but not limited to: which pages are browsed during a session, when and how you interact with your shopping cart, your locations, your actions and clicks, your login and password information for reentry, and preference settings. Tracking can occur during a single Site session visit or over multiple visits (persistent tracking).
      </p>

      <p>
        (c) Tracking is used for the purposes of making the Site more effective, to retain your preferences for additional ease of use, and for advertising and marketing.
      </p>

      <p>
        (d) If you do not want us to gather location information on your mobile device, you can turn off location services on your smart phone.
      </p>

      <p>
        (e) Note that Love, Sylvie may partner with third-party service providers who use cookies and tracking methodologies, on our behalf, on our Site, promotional materials, or social media. These providers help provide information and analysis of data collected through these means to improve marketing campaigns and Site functionality. Love, Sylvie does not control the storage of this information by third-parties, and they are not covered by this Privacy Party.
      </p>

      <p>
        (f) Collection from other sources. When you access the Site or are referred to Love, Sylvie via a third-party such as social media, you allow us to collect and store any information which that third-party shares with us in align with its privacy policy. This information could include but is not limited to: gender, likes, groups, interests, friends, and location.
      </p>

      <p>
        (g) Other information. We may automatically collect and store information on your operating system, referring site, device ID, IP address, browser language, access time, location, and content from   previously installed cookies. We may automatically track advertising identifiers used on any mobile devices.
      </p>

      <h6 class="purple-text caps bold">
        4. DISCLOSURE OF COLLECTED INFORMATION
      </h6>

      a. Aggregate information. Aggregate information is defined as data and analytics meant used to
      characterize certain behaviors, interest groups, or categories. Aggregate information does not specifically contain personally identifiable information such as shipping address, but may contain demographic data such as regional location, gender, age,
      browser, etc. Aggregate data is used to improve our Site, employ better business practices, or report to our affiliates, directors, sub-licensors or otherwise third-party. b. Personal information. We do not share, sell, rent, trade, license, or
      otherwise reveal your personal, identifying information to third parties, except in the following cases: i. Agents, consultants, and other third-parties. Sometimes, in order for third party applications and features to work, we must disclose your
      personal information so that a specific function can be performed. One example may be that we disclose your billing, shipping, and credit card information to a third-party payment processor or third-party shipping software and service. In this
      manner, third-parties are only given the information essential to performing a function. ii. Legal requirements. Love, Sylvie may disclose personal information in order to be compliant with a court order or subpoena, protect against legal liability,
      defend another Love, Sylvie user or public, or defend our rights or property. iii. Business transaction or insolvency. In considering a corporate transaction, financing, or insolvency proceeding involving Love, Sylvie, we may disclose your personal
      information. iv. Promotional disclosures. If you voluntarily submit personal information in order to participate in a discount or promotion, such as liking one of our posts, submitting a social media name or handle, or submitting a video, we may
      feature your personal information in connection with the promotion, giveaway, contest, sweepstakes, rebate or otherwise. v. Social media. You may choose to share information from your social media accounts to the Site or vice-versa. In addition, you
      may choose to tag or mention an official Love, Sylvie social media page on your social media account or through your comments, content, pictures, videos, etc. Love, Sylvie does not take responsibility for the privacy settings on your social media
      accounts. At any time, you can disconnect Love, Sylvie from a social media account by logging into that account and disconnecting Love, Sylvie. 5. UPDATING AND MANAGNG PERSONAL INFORMATION a. Through your account. You can access and update your
      personal information such as your address, email and credit card information from your account. You can also change, delete, and update your User Content such as reviews and videos from your account. b. Email us. If you have information or content
      posted publicly through Love, Sylvie and cannot remove it, email us, and we will do our best to remove it from public viewing within a reasonable timeframe. Note that we still may retain this same information internally for the purposes outlined in
      this Privacy Policy. You can email us at info@lovesylvie.com. c. Unsubscribe from emails. You can choose to unsubscribe to any marketing emails either through logging into your account and adjusting your email preferences, or by hitting unsubscribe
      at the bottom of any marketing email. d. Block cookies. You can block cookies on your device by changing the settings on your internet browser. Unfortunately, our Site does not follow “do not track” messages from browser headers. e. Cancellation. You
      can cancel your account by emailing info@lovesylvie.com. 6. PROTECTING YOUR DATA We use physical, virtual, and organizational safeguards to protect your data. Our Site uses a secure sockets layer (“SSL”) to encrypt data between our server and your
      browser. Organizationally, we do not allow our employees or consultants to access personal data unless necessary to performing a specific function. We also require strict confidentiality for all of our third-party vendors. All information is stored
      and backed up to ensure smooth operation. Regardless of our safeguards, we still cannot guarantee absolute security. Please help keep your data safe by following the terms outlined in this Privacy Policy. 7. CALIFORNIA RESIDENTS Under California
      Civil Code Section 1798.83, Love, Sylvie customers who are residents of California may ask for certain information related to the sharing of personal information during the prior calendar year to third parties. To make such a request, please contact
      Love, Sylvie by emailing: info@lovesylvie.com. 8. CHILDREN As outlined in our Terms and Conditions, our Site is not intended for persons under the age of 13. If you are between the ages of 13 and 18, you may use the site if you have a parent or legal
      guardian’s permission to create an account and make a purchase. For more information, please see our Terms and Conditions. 9. RETENTION OF PERSONAL INFORMATION We retain data for as long as we deem necessary, at our discretion. Closing an account
      does not guarantee that we will eliminate your personal information from our system. If you would like to request that we delete your information, email info@lovesylvie.com, and we will make all reasonable efforts to comply with your request.
      However, please note that we cannot remove all of your information even if you make such a request. We must be able to retain a limited amount of data to meet our legal obligations, enforce our agreements, and operate our business accordingly.
    </div>
  </div>
</div>
