<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1">
      <h2 class="accent-text inline">Terms &amp; Conditions</h2>
      <p class="gray-text caps">Last updated July 3, 2017</p>

      <p>
        Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the http://lovesylvie.com website and any associated online locations such as Facebook, Instagram, and Twitter (the "Site") operated by Love Sylvie LLC., (“Love, Sylvie” "us", "we", or "our").
      </p>

      <p>
        Your access to and use of the Site is conditioned on your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who access or use the Service. By visiting, browsing, or using the Site or any Love, Sylvie service, you acknowledge that you have read, understand and agree, without limitation, to be bound by these Terms, which include Love, Sylvie’s <%= link_to 'privacy policy', privacy_path %>.  If you disagree with any part of these terms, then you may not access Love, Sylvie’s site or create a profile.
      </p>

      <p>
        If you have any questions, send us a message at <a href="mailto:info@lovesylvie.com">info@lovesylvie.com</a>.
      </p>

      <h6 class="bold purple-text caps">
        Changes to the terms
      </h6>

      <p>
        Please note the “last updated” date, posted at the top of the page.  We may update or alter these Terms at any time and for any reason by updating this posting. By accessing the Site after a revision, you agree that you accept the revised terms as noted in the latest “last updated” date. By creating a profile or using the Site, you agree to check these terms often in the event that changes have been made. Love, Sylvie assumes no liability or responsibility if you fail to read or check for revisions to our Terms. Your use, browsing, or visitation of the Site and its services will constitute your acceptance of any changes.
      </p>

      <h6 class="bold purple-text caps">
        Privacy policy
      </h6>

      <p>
        Please review our <%= link_to 'privacy policy', privacy_path %>, which also governs your visit to the Site. If you do not agree with the <%= link_to 'privacy policy', privacy_path %>, you are not authorized to use the Site or create a profile. As a reference, the terms of the <%= link_to 'privacy policy', privacy_path %> are incorporated into the Terms &amp; Conditions. As with the Terms &amp; Service, you agree to check for changes and alterations to the privacy policy.  We will have no liability or responsibility if you fail to do so.
      </p>

      <h6 class="bold purple-text caps">
        1. Products
      </h6>

      <p>
        Love, Sylvie resolves to be as accurate as possible when providing product descriptions on the Site. However, we do not guarantee that the product descriptions, colors, sizes, photos, or other content available on the Site are accurate, complete, reliable, current, or error-free, unless required by applicable law.
      </p>

      <p>
        All material and information presented by Love, Sylvie is intended to be used for informational purposes only. The U.S. Food and Drug Administration has not evaluated the statements made about products on this site. Before using, you should check the ingredients for products to avoid potential allergic reactions. If you have medical questions regarding the use of this product, consult a physician or health care practitioner. Love, Sylvie recommends using a small amount of fragrance on the back of the hand and waiting 24 hours before spraying or using fragrance elsewhere to avoid potential allergic reactions. Note, Love, Sylvie fragrances are intended for external use only. NEVER spray or use Love, Sylvie products inside the mouth, nose, ears, eyes, or genital area.
      </p>

      <p>
        In the event of accidental indigestion of fragrance or allergic reactions, please consult your physician immediately.  In the event of a medical emergency, dial 911.
      </p>

      <p>
        The products available on the Site, including samples included in the Discovery Box, which Love, Sylvie may provide to you, are for personal use only. Love, Sylvie does not permit the resell of any products received from this site. Unless otherwise prohibited by law, Love, Sylvie reserves the right to substitute or exchange any products offered for sale on the Site, and the prices or descriptions of any products, at any time without any notice or liability to you or any other person. At any point and without notice, Love, Sylvie reserves the right to decline a purchase, cancel a subscription, or limit the quantity of product available for sale. The Site content and products available on the Site may be out of date or differ slightly from the actual products.
      </p>

      <h6 class="bold purple-text caps">
        2. Permitted users
      </h6>

      <p>
        You are not authorized to use, browse, or purchase from this Site if you are less than 13 years old.  Users who are 13 – 17 years old may only use the site with the supervision of a parent or legal guardian who is at least 18 years old.  The parent or legal guardian is then the site user, and will be responsible for any and all use of lovesylvie.com.  All users must by U.S. residents.
      </p>

      <h6 class="bold purple-text caps">
        3. Site content
      </h6>

      <p>
        Love, Sylvie or our affiliates, partners or licensors owns, exclusively, all rights, copyrights, trademarks, patent rights, database rights, moral rights, title, and interest in the Site including all content, code, data, icons, images, audio, video, pictures, buttons, forms, design, look and feel, and layout of the Site.  This Site content includes all intellectual property and proprietary rights within.
      </p>

      <p>
        In the event that Love, Sylvie does not own Site content, and excluding User Content, we have secured a license from the owner of such content.
      </p>

      <p>
        All Site content is for personal, non-commercial, and internal use, not to be sold, downloaded, or utilized for commercial purposes in any way.  With the exception of applicable laws and the limited license outlined below, neither the copyrights, trademarks, other content nor any portion of the Site may be used, reproduced, duplicated, copied, sold, resold, accessed, modified, or otherwise exploited, in whole or in part, for any purpose without our prior written consent from Love, Sylvie LLC.
      </p>

      <h6 class="bold purple-text caps">
        4. Limited license
      </h6>

      <p>
        Love, Sylvie permits you a limited, revocable, non-commercial and non-exclusive license to access and make personal use of the Site. This limited license forbids: (i) utilizing framing techniques to capture the Site or any portion thereof within a frame; (ii) downloading, altering, recreating, or otherwise decompiling the Site or content; (iii) building or creating any content based on the Site; (iv) gathering account information from other users for personal gain; (v) using software, automated programs, robots, spiders, algorithms, crawlers, scripts or similar data assemble and download tools or otherwise gathering and/or using any Site content for personal gain; or (vi) taking any action that may cause harm, impose a burden, or otherwise overload Love, Sylvie’s system infrastructure, interfere with daily operations, or restrict or prohibit other user experiences.
      </p>

      <h6 class="bold purple-text caps">
        5. Site linking
      </h6>

      <p>
        You agree that by linking to this Site from another website, the link must connect to the full version of the Site page in an HTML format.  Unless expressly granted written permission from Love, Sylvie, you are not permitted to link to any image, video, writing, or other form of content on the Site. You may note use any methodology that would cause our images, videos, or content to be displayed on a different Site.  You agree not to link the site so that is framed, hosted, surrounded, or otherwise obstructed by any third-party.  Any linkage to the Site may not contain content that is offensive, distasteful, obscene, or harmful to Love, Sylvie or its brand, reputation, or employees in any way.  You may not use our name, trademarks, branding, or content other than to refer to the link. Love, Sylvie reserves the right to require that all unapproved links to the Site be removed immediately.
      </p>

      <h6 class="bold purple-text caps">
        6. Promotions
      </h6>

      <p>
        From time to time, Love, Sylvie may offer certain special promotions, features, or events (such as contests, discounts, sweepstakes, limited time offers, or other offerings) (collectively, “Promotions”). These Promotions may be subject to additional terms in addition to or in lieu of these Terms and may be offered by us or by third parties. We will disclose details for such Promotions (such as eligibility requirements, dates of availability, contents of the Promotion, etc.) when offered, and if you choose to take advantage of any Promotion, you agree that your participation will be subject to such additional terms or other guidelines, rules, and/or policies.
      </p>
      <p>
        Dates of availability are from 12:00:01 am eastern standard time (EST) on the start date through 11:59:59 pm eastern standard time (EST) on the end date unless stated otherwise. All times are eastern time zone with daylight savings effects included. An eligible purchase must be completed on lovesylvie.com during the dates of availability as specified. Purchases made before or after the specified dates of availability are not be eligible for promotion. Promotions are available while supplies last. A promotion may expire early due to limited quantities. In order to redeem a promotion, all requirements must be met. Requirements may include, but are not limited to purchasing a specific subscription, making a purchase over or equal to an amount, sharing the Site with friends, being signed up as a member or having access to email marketing from Love, Sylvie, or being subscribed to a certain plan. A promotion may not be compatible or used with other promotions on the same order. Promotional offers cannot be redeemed for cash value, resold or transferred. Love, Sylvie, at its sole discretion, reserves the right to cancel, suspend or modify part or all of any promotional offer at any time without notice. Full or partial returns must include any promotional coupons and discounts to receive a refund if the unreturned portion of the order fails to meet the original requirements to qualify for the promotional offer. Promotional offers may not be exchanged or returned for monetary value.
      </p>

      <h6 class="bold purple-text caps">
        7. Accounts
      </h6>

      <p>
        Accounts can be created on the Site either by registering directly or using third-party services (e.g. Facebook Connect). Accounts created using third-party sign-on services expressly permit Love, Sylvie to access account information retained by third-party service and data providers in association with your use of the Site.  Love, Sylvie reserves the right to terminate, cancel, suspend, or otherwise deny registration and account services at any time and for any reason.  By creating an account with Love, Sylvie, you agree that information which you provide is true, complete, and current and agree to update your information periodically.  You also agree to update any material changes to your name, address, and billing changes immediately.
      </p>

      <p>
        By signing up for an account, your username will be your email and you will create a password to access your individual account. By registering on Love, Sylvie, you agree that you will maintain full and complete responsibility for the confidentiality of your email and password combination.  Protection of your email and password combination includes 1) exiting and signing out of Love, Sylvie at the end of each Site Session, 2) only saving email and password combinations on devices that are secure, individual, personal and used at a home location, and 3) browsing or accessing the Site from secure, encrypted internet connections.  User accounts are for personal, individual, non-commercial use only. You are not permitted to share your password or other account information with other users, providers, third-parties. Account information is never to be sold to another party, used for commercial purposes, or shared for personal gain. Love, Sylvie has the right to refuse service or suspend any user account at any time and for any reason without prior notice.
      </p>

      <p>
        In the event that your account information is compromised or that you notice any unauthorized use of your account, you agree to notify Love, Sylvie immediately.
      </p>

      <p>
        Love, Sylvie reserves the right to collect any damages to our business operation, employees, brand, reputation, or otherwise resulting from the sharing, misuse, or violation or terms stated here. Love, Sylvie is not responsible for any loss or damage resulting from your failure to comply with this section.
      </p>

      <h6 class="bold purple-text caps">
        8. Shipping
      </h6>

      <p>
        The subscription services and products available on Love, Sylvie are only available for delivery within the contiguous United States, including Washington, D.C.  Currently, Love, Sylvie does not deliver products to the non-contiguous states of Alaska and Hawaii, or other countries or territories.
      </p>

      <h6 class="bold purple-text caps">
        9. Billing
      </h6>

      <p>
        With the purchase of a subscription plan through Love, Sylvie, you agree to purchase products and services on a rotating basis, for a specified or indefinite time frame.  By enrolling in a subscription plan, you agree that you will be charged on a regular basis in accordance with your plan, unless you cancel your plan prior to 30 days before the next shipment.
      </p>

      <p>
        Love, Sylvie reserves a right to terminate or alter your subscription plan at any time for any reason without prior notification, in accordance with applicable laws.  Membership is void where prohibited by law.
      </p>

      <p>
        By enrolling in a subscription, you understand that the payment due for a portion of your first shipments may or may not be the result of a promotion.  If you did qualify for and receive a promotion, you understand that your subscription plan will automatically renew at the full cost of the plan upon completion of the promotion period or event.  Love, Sylvie has no obligation to notify customers of changes to the billing of a subscription due to a promotion period ending.
      </p>

      <p>
        By purchasing a subscription plan or product from Love, Sylvie, you agree to provide us with a valid, current, and accepted method of payment.  All purchases are subject to Terms of Use and any other additional terms and conditions.  Love, Sylvie is not responsible for any additional fees, imposed by your financial services provider and/or mobile carrier, as applicable. By purchasing a subscription plan or product, you hereby authorize Love, Sylvie to charge the total cost of said subscription or product and take full responsibility for all associated charges, including applicable taxes and third-party fees. Should you fail to cover any applicable charge that you are responsible for, you are hereby responsible for all costs and fees associated with all efforts of Love, Sylvie or one of our licensers, contractors, or service providers to recoup such amounts due, including but not limited to any legal expenses or attorney fees. By completing a purchase, you represent and warrant that all information that you have provided is true, accurate, and complete and that you are authorized to complete a purchase.
      </p>

      <p>
        All payments for purchases (subscription or otherwise) are due immediately upon sale, and your desired payment method will be billed. For subscriptions with recurring payments, all payments must be paid in full prior to shipment for the period. Unless stated otherwise on the Site, subscriptions continue for an indefinite time period unless canceled by contacting info@lovesylvie.com or terminated by Love, Sylvie for any reason. Love, Sylvie will make all reasonable efforts to cancel a subscription within ten business days from receipt of a cancellation request.  At the time of cancellation, all paid subscription cycles will be shipped and cannot be refunded.
      </p>

      <p>
        If you adjust your subscription plan or frequency, future billing cycles will be charged according to the latest price for the subscription preferences selected. Your future shipments will also reflect your updated plan preferences. Enrollment in a subscription does not guarantee the continuation of a particular billing amount, plan, product, or service offering.  We reserve the right to change plan costs, offerings, cycles, products, and otherwise, at any time, at our sole discretion.  You will be notified of any changes in the price of a subscription via written communication in the form of email, sms, message, account notification, or otherwise.
      </p>

      <p>
        Love, Sylvie reserves the right to cancel, suspend, or delay any portion of a subscription at any time and for any reason. If Love, Sylvie cancels an upcoming subscription cycle, which has already been paid but has not shipped, you will receive a refund corresponding to your subscription plan and payment cycle for any unshipped products within 90 days of cancellation.
      </p>

      <h6 class="bold purple-text caps">
        10. Refund policy
      </h6>

      <p>
        (a) Discovery Box and Subscription Returns. Discovery Box and Subscription sales are final cannot be returned, exchanged, refunded, or redeemed for cash value unless otherwise noted at the time of purchase. In the case that Love, Sylvie does not send the correct products in the Discovery Box or Subscription as ordered, we will make all reasonable efforts to ship you the correct product within 10 business days. Love, Sylvie reserves the right to exchange or swap products in the Discovery Box or Subscription before shipment provided that we inform you via written communication.  Changes to your billing, shipping, and subscription preferences can be made four weeks prior to shipment.
      </p>

      <p>
        (b) Gift Cards or Gift Subscriptions. Love, Sylvie offers no returns, exchanges, or refunds for Gift Cards or Gift Subscriptions.
      </p>

      <p>
        (c) Other Items. Love, Sylvie may offer additional products for sale on a one-time basis such as but not limited to promotional fragrance bags, bottles, samples, etc. These items cannot be returned, exchanged, refunded, or redeemed for cash value unless otherwise noted at the time of purchase.
      </p>

      <h6 class="bold purple-text caps">
        11. Referral program
      </h6>

      By inviting your friends to Love, Sylvie using our referral process, you may be eligible for free subscription periods or promotional items such as an extra bottle or sample. Terms of the reward are subject to change and will be stated clearly on the Site. In order to be eligible, you must first have an active account and then refer friends using referral links and tools built into the Site. Any referrals made outside of the Site will not be counted towards the referral program. Your friends may have to create an account or make a certain qualifying purchase in order to be eligible for your referral program. Terms and conditions of the referral program are subject to change.

      <h6 class="bold purple-text caps">
        12. THIRD PARTY LINKS
      </h6>

      The Site may contain links to third-party locations or other online locations not operated by Love, Sylvie. Use of these websites or outside of our Site is at your own risk. Love, Sylvie is not responsible for any content available through third-party links. These links do not suggest that Love, Sylvie endorses or promotes any information or content found on other online location. Links are not guaranteed functional. You should read and understand all terms and conditions of additional third-party sites that you visit outside of our Site.

      <h6 class="bold purple-text caps">
        13. SOCIAL MEDIA
      </h6>

      Our Site, along with our social media presence, may collect your IP address, set a cookie to enable third-party features, or otherwise keep track of your presence on our Site and social media accounts. Any features, installments, widgets, etc. hosted on our Site will be governed by our privacy policy. However, social media, such as but not limited to Facebook, Pinterest, Twitter, Tumbler, and Instagram may collect and use your information separately from Love, Sylvie. We take no responsibility for the information collected or content provided by any social media company. Your browsing and interface with third-party features and widgets on our Site are governed by the privacy policy and terms of use of the company providing the feature or widget. Keep in mind that not all accounts or social media presence that use the term “Love, Sylvie” are provided by us. At our sole discretion, we may respond, comment, or provide information on our social media accounts, but are under no obligation to do so. If you have questions, please contact us directly at info@lovesylvie.com.

      <h6 class="bold purple-text caps">
        14. USER CONTENT AND FEEDBACK
      </h6>

      The Site may have specific pages for you to be able to post reviews, submit a question or content, or share your experience. In some cases, you may choose to submit written messages or communication, videos, or photos (collectively, “User Content”) in order to share your experience with other users. By submitting User Content, you acknowledge that this User Content may or may not be made available publicly on the Site, through our social media accounts, or shared and distributed by other third-parties. You hereby agree that you will only submit User Content that is expressly and solely generated by you, is not offensive or harmful to others, is not confidential, and that you have the legal and moral right to submit that User Content.
      In accordance with these terms and conditions, you hereby agree that you will not:
      (1)	copy, gather, sell, publish, or otherwise send any Site content to third parties in any way;
      (2)	harass, demean, intimidate, shame, stalk, or otherwise threaten the rights or safety of others. This includes personal, religious, cultural, ethnic, or sexist attacks of any others, as well as demeaning comments on gender, ability, appearance, age, gender identity, sexual preferences, race, ethnicity, or religion. Language with any reference to violence of any kind will not be tolerated.
      (3)	impersonate or pretend to be someone else, either within Love, Sylvie’s users or outside. This includes but is not limited to impersonation of celebrities, models, politicians, and our users.
      (4)	upload, share, post, publish, promote, or otherwise disseminate any profane, obscene, pornographic, nude, infringing, or otherwise unlawful photos, videos, materials, writing, or content of any kind.
      (5)	share, post, or otherwise disseminate any content that contains viruses, mal-ware, corrupted files, or any file or program meant to harm Love, Sylvie or any of our user’s devices.
      (6)	share, post, publish, promote, or otherwise disseminate commercial links, competitor information, unauthorized solicitation, or content otherwise meant for personal or commercial gain. This includes sharing the same content more than one time or excessive posting and tagging.
      By submitting User Content, you hereby authorize Love, Sylvie and our affiliates a nonexclusive, transferable, irrevocable, and sublicensable right to copy, modify, disseminate, sell, translate, use, create derivative works from, and display your User Content in any form and in any way, alone or part of other works. At our sole discretion, Love, Sylvie has a right to use the name, username, tag, handle, or otherwise identity associated with that content. You hereby authorize the use of your User Content and waive the right to approve of any usage of your User Content. You agree to indemnify and hold harmless Love, Sylvie and our respective employees, representatives, agents, partners, and sub-licensors, from and against any claims, damages, disability, or losses to any person or property, including legal costs, resulting in whole or in part, from your User Content.
      At our sole discretion, we may remove, alter, or change User Content, but are under no obligation to do so. We do not necessarily approve of or endorse any User Content displayed on the Site.

      <h6 class="bold purple-text caps">
        15. LEGAL DISPUTES
      </h6>

      If a dispute arises, please first contact our customer support team first at info@lovesylvie.com. Be sure to describe your complaint and desired outcome and we will do our best to respond as quickly as possible. Love, Sylvie will make all reasonable efforts to address complaints directly to your satisfaction.
      If you have already taken advantage of our customer service department without satisfaction, you and Love, Sylvie all agree to resolve all disputes through final and binding arbitration. This arbitration applies to all current and former customers, subscribers, members, and users. Arbitration will be through The American Arbitration Association (AAA) and in accordance with Commercial Arbitration rules, and will take place in the state of Delaware. After arbitration, any outcome may then be entered into court having jurisdiction over the case. At that time, you and Love, Sylvie mutually waive our right to a jury trial and right to participate in a class action against one another. You agree that no part of a claim arising from your use of the Site, our products or services may be used as grounds for a class action. At any time, you may not join any arbitration or otherwise legal suit involving any other party.
      The terms of this agreement will be governed by the laws of the state of Delaware, United States of America.
      This Site is intended for users residing in the continental United States. If you choose to browse or use the Site from outside of the continental United States, you hereby take full responsibility for upholding any applicable regulations and laws. Using, browsing, purchasing from, or otherwise accessing the site is not allowed in jurisdictions where the Site, brand, content, or messaging is illegal. We reserve the right to restrict access to the site for anyone residing outside of the contiguous United States.

      <h6 class="bold purple-text caps">
        16. DISCLAIMER OF WARRANTIES
      </h6>

      Love, Sylvie, the Site, and our officers, employees, licensors, partners, suppliers, directors, and other agents provide the Site and Love, Sylvie services “as is, as available,” and without any warranty of any kind, either implied or statutory. We do not guarantee that any portion of the site or services will be error free or uninterrupted, and do not guarantee any results, services, or products received from Love, Sylvie or the Site in any way. We specifically disclaim and implied warranties of merchantability, performance, fitness for a particular purpose, and non-infringement. We are not responsible for and make no warranty for the accuracy, reliability, or availability of the Site. No advice given from Love, Sylvie, the Site, our users, or any other content, whether written or oral, shall create any warranty. Use of the Site and our services is at your sole risk, and Love, Sylvie has no liability for any loss resulting from such use.

      <h6 class="bold purple-text caps">
        17. LIMITATION OF LIABILITY
      </h6>

      In no event will Love, Sylvie or our officers, employees, licensors, partners, suppliers, directors, and other agents be liable for any damages whatsoever, in whole or in part, whether direct, indirect, compensatory, incidental, consequential, punitive, or otherwise, arising out of or relating to these terms, purchases made, access to the Site or other content, User Content, or services we provide, including personal injury, emotional distress, death, lost compensation or profits, and any consequential damages otherwise.
      In any circumstance, our total liability to you and any third party in any circumstance is limited to the greater of 1) one hundred dollars $100 or 2) the total amount of your last Love, Sylvie purchase. Certain jurisdictions do not allow the limitation of incidental or consequential damages, in which case, the above limitations may not be applicable to you.
      Your sole and exclusive remedy to claims regarding liability of Love, Sylvie shall be to immediately stop your use of the Site.

      <h6 class="bold purple-text caps">
        18. INDEMNIFICATION
      </h6>

      You agree to indemnify, and hold Love, Sylvie, our officers, employees, licensors, partners, suppliers, directors, and other agents, harmless from any claim or loss, liability, or demand, including reasonable attorneys’ fees, due to or arising out of (a) your uncured breach of these Terms and Conditions and Privacy Policy; (b) your violation of any applicable laws; (c) your violation of any right of a third party; and (d) any and all activities that relate to your User Content, purchases, user account, password, or security. Love, Sylvie reserves the exclusive right to assume control and defense of any issue or matter subject to indemnification by your or any third-party, and, in such case, you agree to comply with Love, Sylvie’s resolution and defense of such claim.

      <h6 class="bold purple-text caps">
        19. TERMINATION
      </h6>

      At any time, Love, Sylvie reserves the right, with or without prior notice, for any reason, to terminate any of the rights granted by these terms immediately. Upon termination of these terms, you hereby agree to comply immediately with the terms of termination, including ending all Site usage if applicable. Our failure to address or enforce compliance with these Terms does not constitute a waiver of these Terms or any of our rights. Love, Sylvie is not responsible for proving, providing evidence of, or citing reasons for a termination of your rights by these terms or use of the Site.

      <h6 class="bold purple-text caps">
        20. NOTICE REQUIRED BY CALIFORNIA LAW
      </h6>

      Under California Civil Code Section 1789.3, California Users are entitled to the following consumer rights notice: If a User has a question or complaint regarding the Site, please send an email to info@lovesylvie.com. Users may also contact Love, Sylvie by writing to 1837 Poplar St. Philadelphia, PA 19130. California residents may reach the Complaint Assistance Unit of the Division of Consumer Services of the California Department of Consumer Affairs by mail at 1625 North Market Blvd., Suite N 112, Sacramento, CA 95834, or by telephone at (916) 445-1254 or (800) 952-5210. Hearing impaired persons may call TDD (800)-326-2297 or TDD (916)-928-1227.

      <h6 class="bold purple-text caps">
        21. NO AGENCY
      </h6>

      You and Love, Sylvie are independent contractors. No portion of these terms, in whole or in part, shall be misconstrued as creating agency, partnership, joint venture, employee-employers, or franchiser-franchisee relationship or agreement between us.

      <h6 class="bold purple-text caps">
        22. SEVERABILITY
      </h6>

      If any portion of these terms shall be held unenforceable or invalid under any applicable law, then such provision will be modified to reflect the parties’ intention. All remaining terms and conditions stated here will remain in full effect.

      <h6 class="bold purple-text caps">
        23. GENERAL INFORMATION
      </h6>

      By using the Site, you acknowledge and agree that the most current terms of use, including our Privacy Policy, constitute the comprehensive and exclusive agreement between Love, Sylvie and you regarding your use of the Site and our services, and supersede and control all previous agreements, proposals, or other communications, written or oral.
       We maintain no responsibility to require your adherence to any provision contained in these terms, and our waiver of breach or inaction to enforce our rights will not be misinterpreted as a waiver of the provision itself.

      <h6 class="bold purple-text caps">
        24. CONTACT US
      </h6>

      If you have any questions, concerns, comments, or suggestions regarding these terms or any other aspect of our Site and service, please contact us at <a href="mailto:info@lovesylvie.com">info@lovesylvie.com</a>.
    </div>
  </div>
</div>
