<div class="container marg-top-2 marg-bot-2">
  <div class="space-2 hidden-md-down"></div>
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2 class="bold accent-text">Thanks for reaching out</h2>

      <p>
        We've received your message and will get back to you as soon as possible at the email address that you provided.
      </p>
      
      <%= link_to "Back to home", root_path, class: "btn btn-sm btn-purple" %>
    </div>
  </div>
</div>
