<head>
    <% title 'Love Sylvie | Edit Perfume' %>
    <% description "Edit an existing perfume" %>
</head>

<div class="container marg-top-2 marg-bot-2">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
      <h2 class="bold marg-bot-1">
        Edit perfume
      </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
