<head>
  <% title 'Love Sylvie | New Perfume' %>
  <% description "Create a new perfume" %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render "/shared/admin-sidebar" %>
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="bold marg-bot-1 marg-top-1">
        Create a new perfume
      </h2>
      <%= render 'form' %>
    </div>
  </div>
</div>
