<div class="post">
  <%= link_to post do %>
    <% if post.image and post.image.file? %>
      <%= image_tag post.image.url(:large) %> 
    <% end %>
    <h2>
      <%= post.title %>
    </h2>
  <% end %>
</div>
