<head>
  <% title 'Love Sylvie | Edit Post' %>
  <% description "Edit an existing blog post" %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render "/shared/admin-sidebar" %>
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="bold marg-bot-1 marg-top-1">
        Edit an existing blog post
      </h2>
      <div class="line-1"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>
