<head>
    <% title 'Love Sylvie | Blog' %>
    <% description "Learn more about Love Sylvie." %>
</head>

<div class="container marg-top-2">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <% if not current_user.nil? and current_user.isAdmin %>
            <%= link_to "New post", new_post_path, class: "btn btn-purple btn-sm right" %>
          <% end %>

          <% if @posts and @posts.length > 0 %>
            <h2>Listing posts</h2>

            <% @posts.each do |post| %>
              <%= render post %>
            <% end %>
          <% else %>
            <h2 class="marg-bot-1">
              Hey there
            </h2>
            <p>
              We don't have any posts up yet, but we're in the process of making some great new content.
            </p>
          <% end %>
        </div>
    </div>
</div>
