<head>
  <% title 'Love Sylvie | Blog' %>
  <% description "Learn more about Love Sylvie." %>
</head>

<div class="container marg-top-2">
  <div class="row">
    <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <% if @posts and @posts.length > 0 %>
        <h2 class="bold marg-bot-05">
          Updates from Love, Sylvie
        </h2>
        <p class="marg-bot-0">
          We love empowering through our perfumes. Find your scent, find what excites you in life. Read the posts below to learn more, explore, and stay up to date.
        </p>

        <% if not current_user.nil? and current_user.isAdmin %>
          <div class="space-1"></div>
          <%= link_to "Write a new post", new_post_path, class: "btn btn-outline-purple btn-sm" %>
        <% end %>

        <div class="line-1"></div>
        <div class="space-05"></div>

        <% @posts.each do |post| %>
          <%= render post %>
        <% end %>
      <% else %>
        <h2 class="marg-bot-1">
          Hey there!
        </h2>
        <p>
          We don't have any posts up yet, but we're in the process of making some great new content.
        </p>
        <p>
          - Love, Sylvie
        </p>
      <% end %>
      <%= link_to "Back to home", root_path, class: "btn btn-sm btn-outline-accent marg-bot-2" %>
    </div>
  </div>
</div>
