<head>
    <% title 'Love Sylvie | Blog' %>
    <% description "Learn more about Love Sylvie." %>
</head>

<div class="container marg-top-2">
    <div class="row">
        <div class="col-12 col-md-10 offset-md-1 col-lg-6 offset-lg-3">
          <h2>Listing posts</h2>
          <% @posts.each do |post| %>
            <%= render post %>
          <% end %>
        </div>
    </div>
</div>
