<head>
    <% title 'Love Sylvie | New Post' %>
    <% description "Write a new blog post" %>
</head>

<div class="container-fluid">
  <div class="row">
    <%= render "/shared/admin-sidebar" %>
    <div class="col-12 col-md-8 col-lg-6">
      <h2 class="bold marg-bot-0 marg-top-1">
        Write a new blog post
      </h2>
      <div class="line-1"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>
