/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styleas in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */

@import './strapper';
@import './palette';
@import './notifications';
@import './buttons';
@import './navbar';
@import './footer';
@import './frontpage';
@import './forms';
@import './textAndColors';
@import './modal';
@import './post';

/**
 * GENERAL STYLING AND SPACING
 */

.full-page {
  min-height: 100vh;
}

.full-height {
  min-height: 100vh;
}

.display-none {
  display: none;
}

@media screen and (min-width: 1024px) and (min-device-width: 1024px) {
  .marg-wide {
    margin-left: 5%;
    margin-right: 5%;
  }
}

/**
 * PERFUMES
 */

.collapser {
  position: absolute;
  right: 1rem;
  height: 1rem;
  width: 1rem;
  cursor: hand;
  cursor: pointer;

  .bar-1 {
    position: absolute;
    top: calc(0.5rem - 1px);
    width: 1rem;
    height: 2px;
    background: $purple;
  }

  .bar-2 {
    position: absolute;
    height: 1rem;
    left: calc(0.5rem - 1px);
    width: 2px;
    background: $purple;
    transition: all 0.2s;
  }
}

.expanded {
  .collapser .bar-2 {
    transform: rotate(90deg);
  }
}

.title-collapse {
  cursor: hand;
  cursor: pointer;
}

/**
 * Highlight color
 */

 ::selection {
   background: $light-purple;
   color: white;
 }

 ::-moz-selection {
   background: $light-purple;
   color: white;
 }
