/**
 * BUTTONS
 */

.btn {
  cursor: pointer;
  cursor: hand;
}

a.btn.white-text {
  color: white !important;
}

.btn {
  border-radius: 0;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 1rem 1.5rem;

  &.btn-sm {
    padding: 0.5rem 1rem;
  }

  &.right {
    position: absolute;
    right: 0;
  }
}

.btn-outline-white {
  background: transparent;
  border: 2px solid white;
  color: white !important;

  &:hover,
  &:focus,
  &:active {
    background: rgba(255, 255, 255, 0.1);
  }
}

.btn-outline-purple {
  background: transparent;
  border: 2px solid $purple;
  color: $purple !important;

  &:hover,
  &:focus,
  &:active {
    background: $transparent-purple;
  }
}

.btn-outline-accent {
  background: transparent;
  border: 2px solid $accent;
  color: $accent !important;

  &:hover,
  &:focus,
  &:active {
    background: $transparent-accent;
  }
}

.btn-purple {
  background: $purple;
  color: white !important;

  &:hover,
  &:focus,
  &:active {
    background: $purple-light;
  }
}
