/**
 * GENERAL FORM STYLING
 */

// Give form titles space below them
form h2 {
  margin-bottom: 1rem;
}

.form-control {
  border-radius: 0.2rem;
  border-width: 2px;
  border-color: rgba(0, 0, 0, 0.15);
  margin-bottom: 1rem;
  padding: 0.75rem;
  font-size: 16px;
  background: transparent;

  &:hover {
    border-color: rgba(0, 0, 0, 0.25);

    & + .fa.after {
      color: rgba(0, 0, 0, 0.25);
    }
  }

  &:focus,
  &:active {
    background: transparent;
    border-color: $purple;

    & + .fa.after {
      color: $purple;
    }
  }
}

.fa.after {
  transition: all 0.2s ease;
  position: absolute;
  color: rgba(0, 0, 0, 0.15);
  right: 3.75rem;
  font-size: 1.4rem;
  transform: translateY(-3.25rem);
}

/**
 * FRONTPAGE EMAIL FORM
 */

#form-bottom,
#form-top {
  width: 100%;
  display: flex;
  background: white;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.3);

  &.hasError {
    border: 3px solid $red;
  }

  #top-email,
  #bottom-email {
    flex: 1;
    border-radius: 0.25rem 0rem 0rem 0.25rem;
    border: 1px solid $gray;
    padding: 1rem 2rem;
    outline: 0;
    font-size: 16px;

    &:focus {
      outline: 0;
      border: 1px solid $gray;
    }
  }

  // Style the button to submit
  .submit {
    outline: 0;
    background: white;
    padding: 1rem 1.5rem;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    border: 1px solid $gray;

    &:hover {
      background: rgba(0, 0, 0, 0.0375);
    }

    &:focus,
    &:active {
      background: rgba(0, 0, 0, 0.05);
      outline: 0;
    }
  }
}

// Center icons
.list-center {
  text-align: center;

  li {
    display: inline-block;
    color: $gray;
    padding: 0.5rem;

    a {
      color: $gray;
    }
  }
}

/**
 * FOOTER FORM
 */

#footer-form {
  width: 100%;
  max-width: 24rem !important;
  display: flex;
  border-bottom: 2px solid rgba(0, 0, 0, 0.15);

  &.hasError {
    border-bottom: 2px solid $red !important;
  }

  &:hover,
  &:active,
  &:focus {
    border-color: rgba(0, 0, 0, 0.3);
  }

  // Style the input in the footer
  input {
    background: transparent;
    flex: 1;
    border: 0px solid transparent;
    outline: 0 !important;
    padding: 0.5rem;
    border-radius: 0;
    margin-bottom: 0rem;

    &:focus,
    &:hover,
    &:active {
      background: transparent;
    }
  }

  // Style the button in the footer
  button {
    background: transparent;
    padding-left: 1rem;
    padding-right: 1rem;
    border: 0px solid transparent;
    box-shadow: 0px 0px 0px transparent;
    color: rgba(0, 0, 0, 0.3);
    outline: 0 !important;

    &:hover {
      color: rgba(0, 0, 0, 0.5);
    }

    &:focus,
    &:active {
      color: rgba(0, 0, 0, 0.75);
      outline: 0 !important;
    }
  }
}
