/**
 * FRONTPAGE
 */

.hero {
  color: white;
  text-align: center;
}

.hero-wrapper {
  padding: 4rem 0rem 1rem 0rem;
  background: rgba(126, 107, 143, 0.6);
}

.step {
  display: flex;

  .vertical-line {
    z-index: -5;
    border-left: 1rem solid rgba(0, 0, 0, 0.075);
    height: auto;
    margin-left: 1rem;
    transform: translateY(1.5rem);
  }

  .step-wrapper {
    display: flex;
    margin-left: -2rem;
  }

  .step-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    flex: 1;
  }

  .step-circle {
    margin-right: 1.5rem;
    text-align: center;
    vertical-align: middle;
    background: $purple;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    border-radius: 50%;
    display: block;
    color: white !important;
    font-weight: bold;
    line-height: 3rem;

    p {
      color: white;
    }
  }
}

.social-list {
  li a:hover {
    color: rgba(0, 0, 0, 0.3) !important;
  }
}

// Styling individual perfumes
.carousel-item {
  padding: 0rem 1rem;
  height: 40vh;
  overflow: hidden;

  img {
    width: 100%;
    height: auto;
  }

  .content {
    flex: 1;
  }

  .white-transparent {
    background: rgba(255, 255, 255, 0.65);
  }
}


// Stling the list of perfumes
.perfume-list {
  margin: 1rem 0rem 1rem 0rem;
  list-style: none;
  min-height: 91.19px;
  padding-left: 0;
  width: 100%;
  display: flex;
  align-items: flex-end;

  li {
    cursor: hand;
    cursor: pointer;
    background: white;
    margin: 0.1rem;
    box-shadow: 0rem 0.2rem 0.4rem rgba(0, 0, 0, 0.15);
    flex: 1;
    text-align: center;
    padding: 1rem 0rem;
    transition: all 0.2s;

    &:hover {
      padding: 1.2rem 0;
      box-shadow: 0rem 0.1rem 0.3rem rgba(0, 0, 0, 0.25);
    }

    // Change the color and height of the selected perfume
    &.active {
      padding-top: 2rem;
      padding-bottom: 2rem;
      background: $accent;
      color: white;

      &:hover {
        padding: 2rem 0;
      }
    }
  }
}

#video-wrapper {
  overflow: hidden !important;
}

.accent-transparent {
  width: 100%;
  background: rgba(24, 54, 66, 0.5);
  z-index: -8;
}

#video {
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  z-index: -10;
}

.white-gradient {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2rem;
  background: transparent;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent, white);
}

.instagram-img {
  height: 15rem;
}

.unique-link {
  margin-top: 2rem;
  width: 100%;
  background: white;
  padding: 1rem;
  border-radius: 0.4rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
  color: $gray-text;
  font-size: 1.2rem;
  font-weight: 300;
  outline: 0 !important;

  &:active,
  &:focus {
    outline: 0 !important;
  }
}

@media screen and (min-width: 992px) and (min-device-width: 992px) {
  .carousel-item {
    background-image: none !important;
  }
}
