/**
 * FRONTPAGE
 */

.hero {
  color: white;
  text-align: center;
}

.hero-wrapper {
  padding: 4rem 0rem 0rem 0rem;
  background: rgba(126, 107, 143, 0.6);
}

.step {
  display: flex;

  .vertical-line {
    z-index: -5;
    border-left: 1rem solid rgba(0, 0, 0, 0.075);
    height: auto;
    margin-left: 1rem;
    transform: translateY(1.5rem);
  }

  .step-wrapper {
    display: flex;
    margin-left: -2rem;
  }

  .step-content {
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    flex: 1;
  }

  .step-circle {
    margin-right: 1.5rem;
    text-align: center;
    vertical-align: middle;
    background: $purple;
    height: 3rem;
    width: 3rem;
    font-size: 1.2rem;
    padding-top: 0.2rem;
    border-radius: 50%;
    display: block;
    color: white !important;
    font-weight: bold;
    line-height: 3rem;
    outline: 0.4rem solid white;

    p {
      color: white;
    }
  }
}

.social-list {
  li a:hover {
    color: rgba(0, 0, 0, 0.3) !important;
  }
}

#video-wrapper {
  overflow: hidden !important;
  max-width: 100%;
}

@media screen and (max-width: 769.5px) {
  #video-wrapper {
    background-image: url(video-screenshot.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.accent-transparent {
  width: 100%;
  background: rgba(24, 54, 66, 0.5);
  z-index: -8;
}

#video {
  min-width: 100%;
  height: auto;
  width: auto;
  position: absolute;
  z-index: -10;
}

.white-gradient {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 2rem;
  background: transparent;
  background: -webkit-linear-gradient(transparent, white);
  background: -o-linear-gradient(transparent, white);
  background: -moz-linear-gradient(transparent, white);
  background: linear-gradient(transparent, white);
}

.instagram-img {
  height: 15rem;
}

.unique-link {
  width: 100%;

  input {
    width: 100%;
    background: white;
    padding: 1rem;
    border-radius: 0.4rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: 0rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
    color: $gray-text;
    font-size: 1.2rem;
    font-weight: 300;
    outline: 0 !important;
    overflow-y: hidden;

    &:active,
    &:focus {
      outline: 0 !important;
    }
  }

  &.white-background {
    .icons {
      right: 1.25rem;
      margin-top: 1.25rem;
    }

    input {
      box-shadow: none;
      border-width: 2px;
      padding: 0.75rem 1rem;
      border-radius: 0.2rem;

      &:focus,
      &:active {
        border: 2px solid $purple;
      }
    }
  }

  .icons {
    margin-top: 1.5rem;
    position: absolute;
    right: 2rem;
    background: white;

    .divider {
      position: absolute;
      height: 2rem;
      transform: translate(-0.625rem, -0.2rem);
      background: rgba(0, 0, 0, 0.1);
      margin: 0rem 0.5rem;
      width: 2px;
      z-index: 1000;
      display: inline-block;
    }

    i.fa {
      font-size: 1.6rem;
      color: $gray-text;
      opacity: 0.3;
      cursor: hand;
      cursor: pointer;
      margin-left: 0.5rem;

      &:hover,
      &:focus,
      &:active {
        opacity: 0.8;
      }

      &.fa-copy {
        margin-right: 0.75rem;
      }
    }
  }
}

@media screen and (min-width: 768px) and (min-device-width: 768px) {
  .carousel-item {
    background-image: none !important;
  }
}
