/**
 * NAVBAR
 */

.navbar {
  padding-top: 1rem;
  position: absolute;
  width: 100%;
  top: 0;
  text-align: left;
  color: white;
  background: transparent;

  &.purple {
    position: relative;
  }

  .navbar-brand {
    color: white;
    padding: 0px;
    margin-right: 0 !important;

    img {
      height: 48px;
      width: auto;
    }

    &:hover,
    &:focus,
    &:visited, {
      color: white;
    }
  }

  .nav-item {
    outline: 0 !important;
  }

  .nav-link {
    outline: 0 !important;
  }

  a.nav-link {
    outline: 0 !important;
    color: white !important;
    font-weight: 300;
    font-size: 1rem;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

@media screen and (max-width: 992px) {
  .navbar {
    padding-top: 0.5rem;
    position: relative;
    z-index: 5;
    background: $purple;

    .navbar-brand {
      text-align: center;
    }

    .navbar-nav {
      margin-left: 0px !important;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .center-mobile {
    text-align: center;
  }
}

.navbar-toggler {
  height: 64px;
  display: table-cell;
  vertical-align: middle;
  top: 0;
}

.navbar-toggler .icon-bar {
  background-color: white;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 4px;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:visited {
  border: 0 solid transparent !important;
  outline: 0 !important;
}

.navbar-toggler {
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }

  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }

  .middle-bar {
    opacity: 0;
  }

  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

.navbar-toggler.collapsed {
  .top-bar {
    transform: rotate(0);
  }

  .middle-bar {
    opacity: 1;
  }

  .bottom-bar {
    transform: rotate(0);
  }
}
