/**
 * COLOR PALETTE
 */

// Notifications
$red: #FF7085;
$green: #3ecf8e;

// Grays
$light-gray-text: #AFAFAF;
$gray: rgba(0, 0, 0, 0.15);
$gray-text: #767171;
$light-gray: #efefef;

// Colors
$purple: #7e6b8f;
$transparent-purple: rgba(126, 107, 143, 0.1);
$purple-light: #9680aa;
$light-purple: #aca0bb;
$navy: #313d5a;
$accent: #183642;
$transparent-accent: rgba(24, 54, 66, 0.1);
