/**
 * COLOR PALETTE
 */

// Notifications
$red: #FF7085;
$green: #3ecf8e;

// Grays
$light-gray-text: #AFAFAF;
$gray: rgba(0, 0, 0, 0.15);
$gray-text: #767171;

// Colors
$purple: #7e6b8f;
$purple-light: #9680aa;
$light-purple: #aca0bb;
$navy: #313d5a;
$accent: #183642;
