/**
 * Styling for posts
 */

// Form
#post-form {
  label {
    width: 100%;
    font-weight: bold;
  }

  .form-control, input {
    margin-bottom: 1rem;
  }

  #title.form-control {
    font-size: 2rem;
    font-weight: bold;
    border: 0px solid transparent;
    padding: 0.5rem 0rem;
  }

  #body.form-control {
    border: 0px solid transparent;
    padding: 0.5rem 0rem;
  }
}
