/**
 * Styling for posts
 */

// Form
#post-form {
  label {
    width: 100%;
    font-weight: bold;
  }

  .form-control, input {
    margin-bottom: 1rem;
  }

  #title.form-control {
    font-size: 2rem;
    font-weight: bold;
    border: 0px solid transparent;
    padding: 0.5rem 0rem;
  }

  #body.form-control {
    border: 0px solid transparent;
    padding: 0.5rem 0rem;
  }
}

// Post
.post {
  padding: 1rem 0rem;

  img {
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 0.4rem;
  }

  h2 {
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: black;
  }

  p {
    font-family: 'Merriweather', 'Times New Roman', 'Times', serif;
    line-height: 1.2;
    margin-bottom: 0;
  }
}
