// Place all the styles related to the Post controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-field {
margin-bottom: 1.6rem;
  padding-top: 2.6rem;
}

.form-label {
  position: absolute;
  margin-left: 0.8rem;
  margin-top: 0.8rem;
  color: $light-gray-text;
}
