.uiHelpLink{background-image:url(/rsrc.php/v3/yE/r/_uZu9x3MI2f.gif);background-repeat:no-repeat;background-size:12px 11px;background-position:0 0;display:inline-block;height:11px;position:relative;top:1px;width:12px}.uiHelpLink .right{left:auto;right:-4px}

#bootloader_v2YVe{height:42px;}.bootloader_v2YVe{display:block!important;}