<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div class="gray" style="padding:0px,16px;background-color:#efefef;width:100%" bgcolor="#efefef">
      <div style="background-color:#ffffff;padding:16px;width:100%;" bgcolor="#ffffff">
        <%= yield %>
        <img src="https://s3.amazonaws.com/lovesylvie/logo.jpg" style="max-width:100%;margin-top:16px" />
      </div>
    </div>
  </body>
</html>
