<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div>
      <div>
        <%= yield %>
      </div>
      <div>
        <img src="https://s3.amazonaws.com/lovesylvie/logo.jpg" style="width: 100px; max-width: 100%; margin-top: 16px;" />
      </div>
    </div>
  </body>
</html>
