<div class="gray-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="space-2"></div>
        <div class="space-1 hidden-md-down"></div>
        <div class="card pad-2">
          <h2>Discovery Boxes</h2>
          <% if @boxes.empty? %>
            <p>You haven't made any discovery boxes yet!</p>
          <% end %>
          <%= link_to new_discovery_box_path do %>
            <div class="btn btn-purple">
              New discovery box
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
