<head>
    <% title 'Love Sylvie | New Discovery Box' %>
    <% description "Create a new discovery box" %>
</head>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-md-8 push-md-2 col-lg-6 push-lg-3">
      <h2 class="bold marg-bot-0 marg-top-1">
        Create new discovery box
      </h2>
      <div class="line-1"></div>
      <%= render 'form' %>
    </div>
  </div>
</div>
