<div class="gray-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <div class="space-2"></div>
        <div class="space-1 hidden-md-down"></div>
        <div class="card pad-2">
          <h2><%= @box.title %></h2>
        </div>
      </div>
    </div>
  </div>
</div>
